@page "/Play"
@using System.Diagnostics
<PageTitle>Minasweeper</PageTitle>
@rendermode InteractiveServer


<div id="game">
    <ul id="menu">
        <li><span></span><span>@TimeSpan.FromSeconds(timer.Seconds).ToString(@"mm\:ss")</span></li>
        <li><span></span><span>@(Home.Game.MinesAndFlags- Game.Tools.ForFlags.Count)</span></li>   
        <li id = "empty"></li>  
        <li>@($"{Home._level[0].ToString().ToUpper()}{Home._level[1..]}")</li>
    </ul>
    <div id="playing-field">
        @{
            Debug.Assert(Home.Game != null);
            if (Home.Game.Text != null && !Game.Tools.doesGameEnd)
            {
                Click(Home.Game.Text);
            }
            @CreateTags()
            if (Dict.Count - Home.Game.MinesAndFlags == Game.Tools.Arr.Count && Game.Tools.Arr.Any(u => !Home.Game.List.Contains(u)))
            {
                Game.Tools.doesGameEnd = true;
                Home.Game.EndGameText = "Congratulations";
            }
            else if (Game.Tools.Arr.Any(u => Home.Game.List.Contains(u)))
            {
                Game.Tools.doesGameEnd = true;
                Home.Game.EndGameText = "Try Again";
            }
        }
    </div>
</div>

@if ( Game.Tools.doesGameEnd)
{
    
     @Game.Tools.EndGame
}
@code {
    public static Time timer = new();
    public static readonly Dictionary<string, string?> Dict = new();
    protected override void OnInitialized()
    {
        timer.OnTick = () => InvokeAsync(StateHasChanged);
        _ = timer.StartTimer();
        
    }
     RenderFragment CreateTags()
     {
         return 
             @<div>
                 
                 @for (int j = 0; j < Home.Game.Size; j++)
                 {
                     <ul>
                         @for (int i = 0; i < Home.Game.Size; i++)
                         {
                             string id = $"{j},{i}";
                             if (!Home.Game.FirstClick)
                             {
                                 Dict[id] = "";
                             }
                             else
                             {
                             
                                 if (Home.Game.List.Any(t => t == Game.Tools.Arr.Last()))
                                 {
                                     Home.Game.Check = true;
                                 }

                             }
                             bool b = int.TryParse(Dict[id], out int number);
                            
                             <li id="@id" 
                                 class="color-@(number) @(!b && Home.Game.Check ? Dict[id] : "") @(Game.Tools.Arr.Any(t => t == id) ? "clicked" : "not-clicked") @(Game.Tools.ForFlags.Contains(id)?"flag":"")" 
                                 @oncontextmenu="() => { if(!Game.Tools.ForFlags.Contains(id) && !Game.Tools.Arr.Contains(id) && Game.Tools.ForFlags.Count < Home.Game.MinesAndFlags && Home.Game.FirstClick && !Game.Tools.doesGameEnd) Game.Tools.ForFlags.Add(id); else Game.Tools.ForFlags.Remove(id);}"
                                 @oncontextmenu:preventDefault="true"
                                 @onclick="() => { if (!Game.Tools.ForFlags.Contains(id)) { Home.Game.Text = id; } }">
                                 <span>@(number != 0 && Game.Tools.Arr.Any(u => u == id) ? number : "")</span>
                             </li>
                         }
                     </ul>
                 }
             </div>;
     }
    
    static void Click(string? id)
    {
        int j = 0;
        if (Home.Game != null && !Home.Game.FirstClick)
        {
            Home.Game.Loop(id);
            Home.Game.List = Game.Tools.GetMines(Home.Game.Size,Home.Game.MinesAndFlags,Game.Tools.Arr.Count).ToList();
            Home.Game.FirstClick = true;
            foreach (var i in Dict.Keys)
            {
                Dict[i] = Home.Game.Loop(i);
            }
            
        }
        else
        {
            Game.Tools.Arr.Add(id);
        }
       
        while (j<Game.Tools.Arr.Count)
        { 
            Home.Game.FirstClick = false;
            Home.Game.Loop(Game.Tools.Arr.ElementAt(j));
            Home.Game.FirstClick = true;
            j++;
        }
        
    }

    public class Game(int size, int cageSize, int minesAndFlags) : Home
    {
        internal string? Text, EndGameText;
        internal bool FirstClick, Check;
        public static readonly MinesAndFlags Tools = new();
        public readonly int Size = size, CageSize = cageSize, MinesAndFlags = minesAndFlags;
        public List<string>? List = Enumerable.Empty<string>().ToList();

        public string Loop(string? txt)
        {
            if (string.IsNullOrEmpty(txt))
                return "";
            int num = 0;
            var textToNumber = txt.Split(',').Select(int.Parse).ToArray();
            var array = new List<string>();
            if (FirstClick && List != null && List.Contains(txt))
            {
                return "bomb";
            }

            for (int i = textToNumber[0] - 1; i <= textToNumber[0] + 1; i++)
            {
                for (int j = textToNumber[1] - 1; j <= textToNumber[1] + 1; j++)
                {
                    if ((uint)i < Size && (uint)j < Size)
                    {
                        string t = $"{i},{j}";
                        if (!FirstClick)
                        {
                            Debug.Assert(List != null, nameof(List) + " != null");
                            if (List.All(u => u != t))
                            {
                                array.Add(t);
                            }
                            else
                            {
                                return "";
                            }
                        }
                        else
                        {
                            if (List != null && List.Contains(t))
                            {
                                num++;
                            }
                        }
                    }
                }
            }

            if (array.Count != 0)
            {
                foreach (var x in array)
                {
                    Tools.Arr.Add(x);
                }
            }

            return num.ToString();
        }
        public async Task Time()
        {
            await Task.Delay(3000);
            Tools.doesGameEnd = true;
            StateHasChanged();
        }
    }

}
<style>
    #game #playing-field ul li{
        width: @(Home.Game.CageSize)px;
        height: @(Home.Game.CageSize)px;
        color: @(Home.Game)px;
    }

</style>

